<ion-header>
  <ion-navbar>
    <button ion-button icon-only menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Sanghai Motor
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only>
        <ion-icon name="person"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <!-- Slider Start -->
  <ion-slides class="slide_list">
    <ion-slide>
      <div class="car_image">
        <img src="assets/imgs/bmw.jpg" class="cars">
      </div>
      <h2>BMW 1</h2>
    </ion-slide>
    <ion-slide>
      <div class="car_image">
        <img src="assets/imgs/bmw-1.jpg" class="cars">
      </div>
      <h2>BMW 1</h2>
    </ion-slide>
    <ion-slide>
      <div class="car_image">
        <img src="assets/imgs/bmw-2.jpg" class="cars">
      </div>
      <h2>BMW 1</h2>
    </ion-slide>
    <ion-slide>
      <div class="car_image">
        <img src="assets/imgs/bmw-3.jpg" class="cars">
      </div>
      <h2>BMW 1</h2>
    </ion-slide>
    <ion-slide>
      <div class="car_image">
        <img src="assets/imgs/bmw-4.jpg" class="cars">
      </div>
      <h2>BMW 1</h2>
    </ion-slide>
    <ion-slide>
      <div class="car_image">
        <img src="assets/imgs/bmw-5.jpg" class="cars">
      </div>
      <h2>BMW 1</h2>
    </ion-slide>
  </ion-slides>
  <!-- Slider End -->

  <!-- Tabs Start -->
  <ion-tabs class="tab_list">
    <ion-tab tabIcon="brush" [root]="tabOne" tabTitle="Book Service"></ion-tab>
    <ion-tab tabIcon="chatboxes" [root]="tabTwo" tabTitle="Messages"></ion-tab>
    <ion-tab tabIcon="logo-facebook" [root]="tabThree" tabTitle="FB Connect"></ion-tab>
    <ion-tab tabIcon="leaf" [root]="tabFour" tabTitle="Go Paperless"></ion-tab>
  </ion-tabs>
  <!-- Tabs End -->

  <!-- Message Section Start -->
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/male.png">
        </ion-avatar>
        <h2>Amit Dubey</h2>
        <p>Fantastic car</p>
        <ion-avatar item-end>
          <ion-badge item-end>260k</ion-badge><br>
          <ion-icon name="thumbs-up" class="thumb-icon"></ion-icon>
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/female.png">
        </ion-avatar>
        <h2>Jay Rana</h2>
        <p>Best car</p>
        <ion-avatar item-end>
          <ion-badge item-end>260k</ion-badge><br>
          <ion-icon name="thumbs-up" class="thumb-icon"></ion-icon>
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/male.png">
        </ion-avatar>
        <h2>Amit</h2>
        <p>Nice car</p>
        <ion-avatar item-end>
          <ion-badge item-end>260k</ion-badge><br>
          <ion-icon name="thumbs-up" class="thumb-icon"></ion-icon>
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/female.png">
        </ion-avatar>
        <h2>Jay Rana</h2>
        <p>Fantastic car</p>
        <ion-avatar item-end>
          <ion-badge item-end>260k</ion-badge><br>
          <ion-icon name="thumbs-up" class="thumb-icon"></ion-icon>
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/male.png">
        </ion-avatar>
        <h2>Amit Dubey</h2>
        <p>Nice car</p>
        <ion-avatar item-end>
          <ion-badge item-end>260k</ion-badge><br>
          <ion-icon name="thumbs-up" class="thumb-icon"></ion-icon>
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ion-card>
  <ion-card>
    <ion-list>
      <ion-item>
        <ion-avatar item-start>
          <img src="assets/imgs/female.png">
        </ion-avatar>
        <h2>Jai Rana</h2>
        <p>Awesome car</p>
        <ion-avatar item-end>
          <ion-badge item-end>260k</ion-badge><br>
          <ion-icon name="thumbs-up" class="thumb-icon"></ion-icon>
        </ion-avatar>
      </ion-item>
    </ion-list>
  </ion-card>
  <!-- Message Section End -->
</ion-content>
