page-home {
    ion-slides {
        height: 20%;
    }
    ion-tabs.tab_list.tabs.tabs-md {
        position: relative !important;
        top: 0%;
        height: 11%;
    }
    .tabs-md .tabbar {
        background: rgb(51,51,51);
        opacity: 1;
    }
    .tabs-md .tab-button {
        color:#fff;
    }
    .tabs-md .tab-button-icon {
        color: darkgray;
    }
    .cars{
        width:100% !important;
    }
    .item-md{
        background-color: aliceblue;
    }
    .thumb-icon{
        font-size: 1.5em;
        position: relative;
        right: -25%;
    }
}
